:root {
    --marsRed: #9f0000;
}

.title {
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 24;
    color: var(--marsRed); 
    text-align: center;
    margin-bottom: 0;
}

/* Conteneur principal */
.header_Wrapper {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    padding: 20px;
    color: white;
    width: 100%; /* S'adapte à la largeur de l'écran */
    box-sizing: border-box; /* Inclure marges et paddings */
    padding-right: 0;
    padding-top: 0;
  }
  
  /* Ligne contenant le logo et le texte */
  .header_lowBar {
    display: flex;
    align-items: center; /* Aligner verticalement les éléments */
    gap: 10px; /* Espacement entre le logo et le texte */
    width: 100vw;
  }
  
  /* Style pour le logo */
  .header_lowBar .logo {
    width: 70px; /* Ajuste la taille du logo */
    height: auto; /* Conserve les proportions */
  }
  
  /* Conteneur du texte avec bandeau */
  .text-wrapper {
    background-image: url('./../img/band.svg'); /* Image de fond pour le bandeau */
    background-size: cover; /* Ajuste l'image pour couvrir tout l'espace */
    background-repeat: no-repeat; /* Empêche la répétition */
    display: flex;
    align-items: center; /* Centre le texte verticalement */
    justify-content: center; /* Centre le texte horizontalement */
    height: 70px; /* Même hauteur que le logo (ajustable selon sa taille réelle) */
    padding: 0 20px; /* Espacement interne à gauche et à droite du texte */
    width: 100%;
  }
  
  /* Texte */
  .text-wrapper p {
    margin: 0; /* Retire les marges par défaut */
    font-size: 16px; /* Taille de police adaptée */
    color: white; /* Couleur du texte */
  }
  

body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: unset;
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.factionCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--marsRed);
    border-radius: 10px;
    height: 200px;
    width: 200px;
    color: white;
    margin: 10px;
}
.factionCard img {
    height: 100px;
    
}

.presentationLorewise {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}
.presentationLorewise p {
  font-style: italic;
  text-align: justify;
}
.logoFaction {
  filter: invert(88%) sepia(34%) saturate(7483%) hue-rotate(352deg) brightness(103%) contrast(118%);
  margin-right: 10%;
  height: 100px;
}
.interaction {
  text-align: center;
  margin: 5% auto 5% auto;
}
.interaction_createBtn {
  background-color: var(--marsRed);
  color: white;
  padding: 15px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

